body {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}

ul h1 {
    display: block;
    font-family:"Oswald", sans-serif;
    font-size: 500%;
    padding: 2%;

}

ul h2 {
    display: block;
    font-family: "Oswald", sans-serif;
    padding: 2%;
}

.academies img {
    width: 25%;
    height: 100%;
}

.academies li {
    display: inline-block;
}

img.right {
}

img.ri {
    max-width: 250px;
}

img.banner {
    float: right;
    max-width: 600px;
}

.top {
    display: inline-block;
}

