body {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}

h1 {
    display: block;
    font-family: "Oswald", sans-serif;
    font-size: 400%;
    padding: 2%;
    padding-bottom: -1%;
}

h2 {
    display: block;
    font-family: "Oswald", sans-serif;
    padding: 2%;
    padding-bottom: 0;
}

h3 {
    display: block;
    font-family: "Oswald", sans-serif;
    padding: 2%;
    padding-top: 1%;
}

.Accolades {
    background-color: #f8f8f9;
}

.academies img {
    width: 25%;
    height: 100%;
}

.academies li {
    display: inline-block;
}

img.right {
    float: right;
    margin-top: 2%;
    margin-right: 6%;
    max-height: 275px;
    height: auto;
    width: auto;
}

img.ri {
    float: right;
    max-width: 250px;
    height: auto;
    margin-right: 10%;
    margin-top: 2%;
}

img.banner {
    margin-right: 2%;
    float: right;
    max-width: 600px;
    display: inline-block;
    max-height: 200px;
    max-width: 700px;
    width: auto;
    height: auto;
}

.quicklinks a {
    color: white;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.quicklinks h2 a:hover {
    color: #00FFFF;
}

.quicklinks a:visited {
    color: white;
}


.quicklinks {
    background-color: #3F3F3F;
    color: #FFFFFF;
    height: 500%;
    text-decoration: none;
}

.sections{
    margin-left: 2%;
    margin-top: 5%;
}

.sections li {
    width: 20%;
    display: inline-block;
    padding-bottom: 10%;
    padding-right: 4%;
}
