body {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}

h1 {
    display: block;
    font-family:"Oswald", sans-serif;
    font-size: 500%;
    padding: 2%;

}

ul h2 {
    display: block;
    font-family: "Oswald", sans-serif;
    padding: 2%;
}


img.right {
    float: right;
}

img.ri {
    float: right;
    max-width: 250px;
    height: auto;
    padding-right: 10%;
    padding-top: 2%;
}

img.banner {
    float: right;
    max-width: 600px;
}

.top {
    display: inline-block;
    margin: 10%;
    margin-top: 6%;
}

