@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,300italic,400italic,500,500italic);

html  {
    height: 500px;
}


.top {
    height: 80%;
    width: 89.666%;
    font-family: Oswald;
    overflow: hidden;
    padding: 5em;
    margin: 0;
    margin-right: 0%;
    margin-left: 0%;
    background-color: gold;
    display: inline-block;
    float: left;
}

.middle {
    height: 200px;
    width: 69.33%;
    font-family: Roboto;
    overflow: hidden;
    padding: 15em;
    margin: 0;
    margin-right:0%;
    margin-left: 0%;
    background-color: dodgerblue;
    display: inline-block;
}

.bottom {
    height: 80%;
    width: 69.33%;
    font-family: Oswald;
    overflow: hidden;
    padding: 15em;
    margin: 0;
    margin-right:0%;
    margin-left: 0%;
    background-color: black;
    display: inline-block;
    color: white;
}

.finalword {
    height: 80%;
    width: 69.33%;
    font-family: Oswald;
    overflow: hidden;
    padding: 15em;
    margin: 0;
    margin-right:0%;
    margin-left: 0%;
    background-color: red;
    display: inline-block;
    color: white;
}

.logoGit {
    width: 400px;
    height: auto;
    float: left;
    display: inline-block;
    position: relative;
    right: 10px;
    top: -650px;
}

.logo {
    width: 400px;
    height: auto;
    float: right;
    display: inline-block;
    position: relative;
    left: -135px;
    top: -200px;
}

.meme {
    width: 400px;
    height: auto;
    float: right;
    display: inline-block;
    position: relative;
    left: 0px;
    top: -250px;
}

.sry {
    width: 400px;
    height: auto;
    float: right;
    display: inline-block;
    position: relative;
    left: 0px;
    top: -150px;

}

h1 {
    font-size: 500%;
    width: 50%;
}

h2 {
    float: left;
    width: 50%;
    font-size: 190%;
}

h3 {
    position: relative;
    left: 600px;
    top: -110%;
    font-size: 600%;
    width: 1%;
}

h4 {
    position: relative;
    top: -100%;
    left: 600px;
    font-size: 190%;
    width: 50%;
}