body {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}

ul h1 {
    display: block;
    font-family:"Oswald", sans-serif;
    font-size: 500%;
    padding: 2%;

}

ul h2 {
    display: block;
    font-family: "Oswald", sans-serif;
    padding: 2%;
}

